* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background: #f1ebde;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 5;
}

/* header */
.header {
  border-top: 1px solid #49aeff;
  border-bottom: 1px solid #2c90e0;
}
.header .btn-back {
  text-decoration: none;
  display: inline-block;
  color: white;
  -webkit-filter: drop-shadow(0 2px 0 rgba(0,0,0,0.14));
  filter: drop-shadow(0 2px 0 rgba(0,0,0,0.14));
}
.header ul {
  display: block;
  float: right;
  list-style-type: none;
  padding-left: 0;
}
.header ul li {
  display: inline-block;
}
.header ul li a {
  color: white;
  text-decoration: none;
}
.transparent-line {
  background: #3d250f;
  opacity: 0.09;
}
.transparent-line.top {
  border-top: 1px solid #00467e;
}
/* end header */

/* middler */
.middler {
}

.middler .game-box {
  background: white;
  position: relative;
}
.middler .game-box .chip {
  float: left;
  text-align: center;
}
.middler .game-box h3 {
  text-transform: uppercase;
  color: #814a02;
}
.middler .game-box p {
  color: #353434;
}
.middler .game-box .ribbon-new{
  position: absolute;
}
/* end middler */

/* footer */
.fixed-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footer {
  background: #0068bc;
  border-top: 1px solid #4fb1ff;;
}
.transparent-line.bottom {
  border-top: 1px solid #00467e;
}
.footer ul {
  display: block;
  float: left;
  list-style-type: none;
  padding-left: 0;
}
.footer ul li {
  display: inline-block;
}
.footer ul li a {
  color: white;
  text-decoration: none;
}
/* end footer */

