* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background: #f1ebde;
}

.fixed {
  position: fixed;
  width: 100%;
}

.middler {
}

.middler .game-box {
  background: white;
}
.middler .game-box .chip {
  float: left;
}
.middler .game-box .chip img {
}
.middler .game-box h3 {
  text-transform: uppercase;
  color: #814a02;
}
.middler .game-box p {
  color: #353434;
}

/* footer */
.fixed-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footer {
  background: #0068bc;
  border-top: 1px solid #4fb1ff;;
}
.footer ul {
  display: block;
  float: left;
  list-style-type: none;
  padding-left: 0;
}
.footer ul li {
  display: inline-block;
}
/* end footer */

