.content {
  margin: 0 25px;
  text-align: left;
}

/* header */
.header {
  height: 113px;
  background: #0062b1 url("../img/ipad/logo.png") no-repeat center;
  background-image: url("../img/ipad/logo.png"), -webkit-gradient(linear, left top, left bottom, from(#0070ca), to(#0060ad)); /* Saf4+, Chrome */
  background-image: url("../img/ipad/logo.png"), -webkit-linear-gradient(top, #0070ca, #0060ad); /* Chrome 10+, Saf5.1+ */
  background-image: url("../img/ipad/logo.png"),         linear-gradient(to bottom, #0070ca, #0060ad); /* W3C */  
}
.header .btn-back {
  background: url("../img/ipad/btn-blue.png") no-repeat center;
  width: 100px;
  height: 43px;
  margin-top: 31px;
  margin-left: 4px;
}
.header .btn-back  span{
  padding-left: 35px;
  line-height: 41px;
  font-size: 22px;
}
.header ul {
  padding-top: 14px;
}
.header ul li {
  width: 66px;
}
.header ul li a {
  padding: 63px 0 7px 0;
  font-size: 15px;
  display: block;
  text-align: center;
}
.header ul li.games {
  background: url("../img/ipad/i-games.png") no-repeat center 8px;
}
.header ul li.news {
  background: url("../img/ipad/i-news.png") no-repeat center 8px;
}
.header ul li.support {
  background: url("../img/ipad/i-support.png") no-repeat center 8px;
}
.header ul li.letter {
  background: url("../img/ipad/i-letter.png") no-repeat center 8px;
}

.transparent-line {
  height: 9px;
}
/* end header */

/* middler */
.middler {
  padding-top: 139px;
  padding-bottom: 83px;
  font-size: 0;
}
.middler .game-box {
  height: 186px;
  width: 453px;
  border-radius: 4px;
  margin: 0 0 19px 25px;
  padding: 4px 18px 4px 4px;
  display: inline-block;
}
.middler .game-box .chip {
  width: 187px;
}
.middler .game-box .chip  .img{
  margin-top: 15px;
  width: 100%;
  height: 135px;
}
.middler .game-box .chip  .img-1{
  background: url("../img/ipad/chips/1.png") no-repeat center;
}
.middler .game-box .chip  .img-2{
  background: url("../img/ipad/chips/2.png") no-repeat center;
}
.middler .game-box .chip  .img-3{
  background: url("../img/ipad/chips/3.png") no-repeat center;
  margin-top: 0.75em
}
.middler .game-box .chip  .img-4{
  background: url("../img/ipad/chips/4.png") no-repeat center;
}
.middler .game-box h3 {
  font-size: 24px;
  line-height: 68px;
}
.middler .game-box p {
  font-size: 18px;
}
@media (orientation : portrait)
    and (max-width: 768px) {
  .middler .game-box {
    height: 285px;
    width: 683px;
    border-radius: 6px;
    margin: 0 0 19px 25px;
    padding: 6px 28px 6px 6px;
    display: inline-block;
  }
  .middler .game-box .chip {
    width: 286px;
  }
  .middler .game-box .chip  .img{
    margin-top: 23px;
    width: 100%;
    height: 207px;
  }
  .middler .game-box .chip  .img-1{
    background: url("../img/ipad/chips/1-r.png") no-repeat center;
    background-size: 75%;
  }
  .middler .game-box .chip  .img-2{
    background: url("../img/ipad/chips/2-r.png") no-repeat center;
    background-size: 75%;
  }
  .middler .game-box .chip  .img-3{
    background: url("../img/ipad/chips/3-r.png") no-repeat center;
    margin-top: 0.75em;
    background-size: 75%;
  }
  .middler .game-box .chip  .img-4{
    background: url("../img/ipad/chips/4-r.png") no-repeat center;
    background-size: 75%;
  }
  .middler .game-box h3 {
    font-size: 38px;
    line-height: 104px;
  }
  .middler .game-box p {
    font-size: 28px;
  }
}
.middler .game-box .ribbon-new {
  background: url("../img/ipad/ribbon-new.png") no-repeat center;
  width: 57px;
  height: 58px;
  top: -3px;
  right: -3px;

}
/* end middler */

/* footer */
.footer {
  height: 54px;
  text-align: center;
  background: #0069be url("../img/ipad/footer-bg.png") no-repeat center;
  background-image: url("../img/ipad/footer-bg.png"), -webkit-gradient(linear, left top, left bottom, from(#0069be), to(#0060ad)); /* Saf4+, Chrome */
  background-image: url("../img/ipad/footer-bg.png"), -webkit-linear-gradient(top, #0069be, #0060ad); /* Chrome 10+, Saf5.1+ */
  background-image: url("../img/ipad/footer-bg.png"),         linear-gradient(to bottom, #0069be, #0060ad); /* W3C */  
}
.footer ul {
  display: none;
}
.footer .social {
  display: inline;
}
.footer .social a.fb{
  width: 79px;
  height: 72px;
  display: block;
  position: absolute;
  right: 133px;
  bottom: 14px;
  background: url("../img/ipad/i-fb.png") no-repeat center;
}
.footer .social div.dlr{
  width: 0;
  display: none;
}
.footer .social a.tw{
  width: 79px;
  height: 72px;
  display: block;
  position: absolute;
  right: 34px;
  bottom: 14px;
  background: url("../img/ipad/i-tw.png") no-repeat center;
}

.footer .social span.copy {
  font-size: 11px;
  color: #69b9fa;
  line-height: 51px;
}
/* end footer */



/******************************/
/* Retina-specific stuff here */
/******************************/
@media (-webkit-min-device-pixel-ratio: 2) {
  /* header */
  .header {
    background: #0062b1 url("../img/ipad/logo-r.png") no-repeat center;
    background-image: url("../img/ipad/logo-r.png"), -webkit-gradient(linear, left top, left bottom, from(#0070ca), to(#0060ad)); /* Saf4+, Chrome */
    background-image: url("../img/ipad/logo-r.png"), -webkit-linear-gradient(top, #0070ca, #0060ad); /* Chrome 10+, Saf5.1+ */
    background-image: url("../img/ipad/logo-r.png"),         linear-gradient(to bottom, #0070ca, #0060ad); /* W3C */  
    background-size: contain;
  }
  .header .btn-back {
    background: url("../img/ipad/btn-blue-r.png") no-repeat center;
    background-size: 100px 43px;
  }
  .header ul li.games {
    background: url("../img/ipad/i-games-r.png") no-repeat center 8px;
    background-size: 48px 51px;
  }
  .header ul li.news {
    background: url("../img/ipad/i-news-r.png") no-repeat center 8px;
    background-size: 48px 51px;
  }
  .header ul li.support {
    background: url("../img/ipad/i-support-r.png") no-repeat center 8px;
    background-size: 48px 51px;
  }
  .header ul li.letter {
    background: url("../img/ipad/i-letter-r.png") no-repeat center 8px;
    background-size: 48px 51px;
  }
  /* end header */

  /* middler */
  .middler .game-box .chip  .img-1{
    background: url("../img/ipad/chips/1-r.png") no-repeat center;
    background-size: 141px 135px;
  }
  .middler .game-box .chip  .img-2{
    background: url("../img/ipad/chips/2-r.png") no-repeat center;
    background-size: 148px 141px;
  }
  .middler .game-box .chip  .img-3{
    background: url("../img/ipad/chips/3-r.png") no-repeat center;
    background-size: 145px 112px;
  }
  .middler .game-box .chip  .img-4{
    background: url("../img/ipad/chips/4-r.png") no-repeat center;
    background-size: 146px 93px;
  }
  @media (orientation : portrait)
      and (max-width: 768px) {
    .middler .game-box .chip  .img-1{
      background: url("../img/ipad/chips/1-r.png") no-repeat center;
      background-size: 216px 207px;
    }
    .middler .game-box .chip  .img-2{
      background: url("../img/ipad/chips/2-r.png") no-repeat center;
      background-size: 226px 216px;
    }
    .middler .game-box .chip  .img-3{
      background: url("../img/ipad/chips/3-r.png") no-repeat center;
      background-size: 222px 171px;
    }
    .middler .game-box .chip  .img-4{
      background: url("../img/ipad/chips/4-r.png") no-repeat center;
      background-size: 223px 142px;
    }
  }
  .middler .game-box .ribbon-new {
    background: url("../img/ipad/ribbon-new-r.png") no-repeat center;
    background-size: 57px 58px;
  }
  /* end middler */

  /* footer */
  .footer {
    background: #0069be url("../img/ipad/footer-bg-r.png") no-repeat center;
    background-image: url("../img/ipad/footer-bg-r.png"), -webkit-gradient(linear, left top, left bottom, from(#0069be), to(#0060ad)); /* Saf4+, Chrome */
    background-image: url("../img/ipad/footer-bg-r.png"), -webkit-linear-gradient(top, #0069be, #0060ad); /* Chrome 10+, Saf5.1+ */
    background-image: url("../img/ipad/footer-bg-r.png"),         linear-gradient(to bottom, #0069be, #0060ad); /* W3C */  
    background-size: contain;
  }
  .footer .social a.fb{
    background: url("../img/ipad/i-fb-r.png") no-repeat center;
    background-size: 79px 72px;
  }
  .footer .social a.tw{
    background: url("../img/ipad/i-tw-r.png") no-repeat center;
    background-size: 79px 72px;
  }
  /* end footer */
}