.content {
  margin: 0 8px;
  text-align: left;
}

/* header */
.header {
  height: 56px;
  background: #0062b1 url("../img/logo.png") no-repeat center;
  background-image: url("../img/logo.png"), -webkit-gradient(linear, left top, left bottom, from(#0070ca), to(#0060ad)); /* Saf4+, Chrome */
  background-image: url("../img/logo.png"), -webkit-linear-gradient(top, #0070ca, #0060ad); /* Chrome 10+, Saf5.1+ */
  background-image: url("../img/logo.png"),         linear-gradient(to bottom, #0070ca, #0060ad); /* W3C */  
}
.header .btn-back {
  background: url("../img/btn-blue.png") no-repeat center;
  height: 28px;
  width: 59px;
  margin-top: 15px;
  margin-left: 2px;
}
.header .btn-back  span{
  padding-left: 19px;
  line-height: 28px;
  font-size: 13px;
}
.header ul {
  display: none;
}

.transparent-line {
  height: 6px;
}
/* end header */

/* middler */
.middler {
  padding-top: 63px;
  padding-bottom: 83px;
  margin: 0 6px;
}
.middler .game-box {
  height: 106px;
  border-radius: 5px;
  margin: 13px 6px 0 6px;
  padding: 5px 20px 5px 5px;
}

.middler .game-box .chip {
  width: 119px;
}
.middler .game-box .chip .img{
  margin-top: 5px;
  width: 100%;
  height: 95px;
}
.middler .game-box .chip .img-1{
  background: url("../img/chips/1.png") no-repeat center;
}
.middler .game-box .chip .img-2{
  background: url("../img/chips/2.png") no-repeat center;
}
.middler .game-box .chip .img-3{
  background: url("../img/chips/3.png") no-repeat center;
  margin-top: 0;
}
.middler .game-box .chip .img-4{
  background: url("../img/chips/4.png") no-repeat center;
}

.middler .game-box h3 {
  font-size: 15px;
  line-height: 38px;
}
.middler .game-box p {
  font-size: 10px;
}
@media (orientation : landscape)
    and (min-width: 568px) {
  .middler {
    font-size: 0;
  }
  .middler .game-box {
    height: 94px;
    border-radius: 4px;
    margin: 11px 6px 0 6px;
    padding: 4px 18px 4px 4px;
    width: 242px;
    display: inline-block;
  }
  .middler .game-box .chip {
    width: 105px;
  }
  .middler .game-box .chip .img{
    margin-top: 0;
  }
  .middler .game-box h3 {
    font-size: 13px;
    line-height: 34px;
  }
  .middler .game-box p {
    font-size: 9px;
  }
}
.middler .game-box .ribbon-new {
  background: url("../img/ribbon-new.png") no-repeat center;
  width: 35px;
  height: 35px;
  top: -2px;
  right: -2px;

}
/* end middler */

/* footer */
@media (orientation : portrait) {
  .footer {
    
  }
  .footer ul li {
    width: 66px;
    height: 68px;
  }
  .footer ul li a {
    padding: 50px 0 7px 0;
    font-size: 9px;
    display: block;
    text-align: center;
  }
  .footer ul li.news {
    background: #0577d3 url("../img/i-news.png") no-repeat center 8px;
  }
  .footer ul li.support {
    background: #0470c9 url("../img/i-support.png") no-repeat center 8px;
  }
  .footer ul li.letter {
    background: #036cc2 url("../img/i-letter.png") no-repeat center 8px;
  }
  .footer .social {
    position: absolute;
    display: block;
    width: 106px;
    height: 68px;
    top: 10px;
    right: 10px;
    text-align: center;
    font-size: 0;
    
  }
  .footer .social a.fb{
    display: inline-block;
    width: 36px;
    height: 40px;
    background: url("../img/i-fb.png") no-repeat center;
    margin: 5px 7px 4px 5px;
  }
  .footer .social div.dlr{
    display: inline-block;
    width: 0;
    height: 30px;
    border-left: 1px solid #02549f;
    border-right: 1px solid #187aca;
    vertical-align: 10px;
  }
  .footer .social a.tw{
    display: inline-block;
    width: 36px;
    height: 40px;
    background: url("../img/i-tw.png") no-repeat center;
    margin: 5px 5px 4px 7px;
  }

  .footer .social span.copy {
    display: inline-block;
    font-size: 5px;
    color: #6ebdfd;
    text-align: center;
    line-height: 5px;
    margin-top: 2px;
  }
}
@media (orientation : landscape) {
  .footer {
    height: 59px;
  }
  .footer ul li {
    height: 59px;
  }
  .footer ul li a {
    padding: 0 12px 0 49px;
    font-size: 12px;
    line-height: 59px;
    display: block;
  }
  .footer ul li.news {
    background: #0577d3 url("../img/i-news.png") no-repeat 18px center;
  }
  .footer ul li.news a {
    padding: 0 12px 0 64px;
  }
  .footer ul li.support {
    background: #0470c9 url("../img/i-support.png") no-repeat 12px center;
  }
  .footer ul li.support a {
    padding: 0 12px 0 55px;
  }
  .footer ul li.letter {
    background: #036cc2 url("../img/i-letter.png") no-repeat 12px center;
  }
  .footer ul li.letter a {
    padding: 0 12px 0 58px;
  }
  .footer .social {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;    
  }
  .footer .social a.fb{
    width: 36px;
    height: 40px;
    display: block;
    float: left;
    background: url("../img/i-fb.png") no-repeat center;
    margin: 9px 7px 2px 15px;
  }
  .footer .social div.dlr{
    display: none;
  }
  .footer .social a.tw{
    width: 36px;
    height: 40px;
    display: block;
    float: left;
    background: url("../img/i-tw.png") no-repeat center;
    margin: 9px 0 0 9px;
  }

  .footer .social span.copy {
    display: block;
    font-size: 5px;
    color: #6ebdfd;
    width: 43px;
    text-align: left;
    line-height: 5px;
    display: block;
    float: left;
    padding: 22px 0 0 11px;
  }
}

@media (orientation : landscape)
    and (min-width: 492px) {
  .footer .social {
    float: right;
  }
  .footer .social span.copy {
    padding: 22px 15px 0 11px;
  }
}
/* end footer */



/******************************/
/* Retina-specific stuff here */
 /******************************/
@media (-webkit-min-device-pixel-ratio: 2) { 
  .header {
    background: #0062b1 url("../img/logo-r.png") no-repeat center;
    background-image: url("../img/logo-r.png"), -webkit-gradient(linear, left top, left bottom, from(#0070ca), to(#0060ad)); /* Saf4+, Chrome */
    background-image: url("../img/logo-r.png"), -webkit-linear-gradient(top, #0070ca, #0060ad); /* Chrome 10+, Saf5.1+ */
    background-image: url("../img/logo-r.png"),         linear-gradient(to bottom, #0070ca, #0060ad); /* W3C */  
    background-size: 219px 56px;
  }
  .header .btn-back {
    background: url("../img/btn-blue-r.png") no-repeat center;
    background-size: 59px 26px
  }
  /* end header */

  /* middler */
  .middler .game-box .chip .img-1{
    background: url("../img/chips/r1.png") no-repeat center;
    background-size: 94px 87px;
  }
  .middler .game-box .chip .img-2{
    background: url("../img/chips/r2.png") no-repeat center;
    background-size: 91px 89px;
  }
  .middler .game-box .chip .img-3{
    background: url("../img/chips/r3.png") no-repeat center;
    background-size: 92px 72px;
  }
  .middler .game-box .chip .img-4{
    background: url("../img/chips/r4.png") no-repeat center;
    background-size: 92px 70px;
  }

  .middler .game-box .ribbon-new {
    background: url("../img/ribbon-new-r.png") no-repeat center;
    background-size: 35px 35px;
  }
  /* end middler */

  /* footer */
  @media (orientation : portrait) {
    .footer ul li.news {
      background: #0577d3 url("../img/i-news-r.png") no-repeat center 8px;
      background-size: 37px 40px;
    }
    .footer ul li.support {
      background: #0470c9 url("../img/i-support-r.png") no-repeat center 8px;
      background-size: 37px 40px;
    }
    .footer ul li.letter {
      background: #036cc2 url("../img/i-letter-r.png") no-repeat center 8px;
      background-size: 37px 40px;
    }
    .footer .social a.fb{
      background: url("../img/i-fb-r.png") no-repeat center;
      background-size: 37px 40px;
    }
    .footer .social a.tw{
      background: url("../img/i-tw-r.png") no-repeat center;
      background-size: 37px 40px;
    }
  }
  @media (orientation : landscape) {
    .footer ul li.news {
      background: #0577d3 url("../img/i-news-r.png") no-repeat 18px center;
      background-size: 37px 40px;
    }
    .footer ul li.support {
      background: #0470c9 url("../img/i-support-r.png") no-repeat 12px center;
      background-size: 37px 40px;
    }
    .footer ul li.letter {
      background: #036cc2 url("../img/i-letter-r.png") no-repeat 12px center;
      background-size: 37px 40px;
    }
    .footer .social a.fb{
      background: url("../img/i-fb-r.png") no-repeat center;
      background-size: 37px 40px;
    }
    .footer .social a.tw{
      background: url("../img/i-tw-r.png") no-repeat center;
      background-size: 37px 40px;
    }
  }
  /* end footer */
}